div.logo {
    margin-top: 1em;
}
div.logo img {
    display: block;
    margin: 0;
    border-radius: 50%;
    height: 150px;
}
div.name {
    font-size: 15px;
}
div.title {
    font-size: 15px;
}
div.specialties {
    font-size: 15px;
    border-top: 1px solid grey;
}